:root {
  line-height: 1.5;
  font-weight: 400;
  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  --static-brand-purple: 94, 27, 137;
  --static-brand-orange: 244, 81, 44;
}

/* debugging classes */
.b {
  border: 1px solid red;
}

.bc * {
  border: 1px solid red;
}

.o {
  outline: 1px solid red;
}

.oc * {
  outline: 1px solid red;
}

.strikethrough {
  text-decoration: line-through;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hover-outline:hover {
  outline: 1px solid black;
}

.outline-light {
  outline: 1px solid rgba(0, 0, 0, 0.137);
}

.border-light {
  border: 1px solid rgba(0, 0, 0, 0.137) !important;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.flicker-warning {
  color: red;
  animation: flicker 1s infinite ease-in-out;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}