:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  --static-brand-purple: 94, 27, 137;
  --static-brand-orange: 244, 81, 44;
}

/* debugging classes */
.b {
  border: 1px solid red;
}

.bc * {
  border: 1px solid red;
}

.o {
  outline: 1px solid red;
}

.oc * {
  outline: 1px solid red;
}

.strikethrough {
  text-decoration: line-through;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.flicker-warning {
  color: red;
  animation: flicker 1s infinite ease-in-out;
}

.flicker {
}
